html,body{
    height: 100%;
    width: 100%;
   /*  background-color: antiquewhite */;
    overflow-x: hidden; /* trục ngang */
    overflow-y: hidden; /* trục đứng */
    padding: 0;
    margin: 0;
}
.style_header{
    background-color: rgba(209, 211, 218, 0.76) !important;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid rgb(255, 81, 0);
    height:10% !important
 
}
.cus_content{
    height: 90% !important;
}
.cus_content_1{
    height: 100%; 
}
.cus_content_col4{
    height: 100%; 
    margin: 0 !important;
    padding: 0 !important;
}
/* Style tab links */
.tablink {
    background-color: #053a47;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 11px;
    width: 25%;
    font-weight: bold !important;
  }
  
  .tablink:hover {
    background-color: #2a09a1;
    color: white ;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    text-align: left;
    display: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: white;}
  #News {background-color: white;}
  #Contact {background-color: white;}
  #About {background-color: white;}
.form_check_cus{
    padding-bottom: 15px;
     width: 300px; 
    
}
.cus_label_check{
    text-align: left;
    font-size: 17px;
}
.cus_btn{
    width: 200px !important;
    margin-left: 150px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cus_content_col8{
    height: 100%; 
    margin: 0 !important;
    padding: 0 !important;
}